body {

    @media (max-width: 767px) {
        .spacing {
            height: 200px;
        }
    }


    a {
        text-decoration: none;
    }


    header {
        background-color: rgb(0, 0, 0, 0.7);

        .header-top-bar {
            background-color: black;


            a {
                font-size: large;
                color: white;
            }
        }

        nav {

            a {

                img {
                    width: 75px;
                    height: 65px;
                }

            }

            .navbar-nav {
                .nav-link {
                    color: white;
                    font-size: large;
                    /* Change la couleur du texte en blanc */
                }
            }
        }
    }

    main {

        #product-categories {
            a {
                border: 2px solid white;
                color: white;
                font-size: large;
                font-weight: normal;
                width: 200px;
                border-radius: 20px
            }

            a:hover {
                background-color: white;
                color: lightslategrey;
                font-weight: bolder;
            }
        }

        #about {
            article {
                width: 90%;

                a {
                    display: inline-block;
                    border: 2px solid green;
                    width: 200px;
                    border-radius: 99px;
                    color: #00893e;
                    cursor: pointer;
                    outline: none;
                    transition: transform 0.5s;
                }

                a:hover {
                    background-color: #00893e;
                    color: white;
                    transform: scale(1.05);
                }
            }
        }

        #products {
            a {
                border: 2px solid rgb(7, 243, 82);
                color: rgb(7, 243, 82);
                font-size: large;
                font-weight: normal;
                width: 200px;
                border-radius: 20px
            }

            a:hover {
                background-color: rgb(7, 243, 82);
                color: white;
            }
        }

    }

    footer {
        background-color: rgb(0, 0, 0, 0.6);

        a,
        i,
        span {
            color: white;
        }

    }
}